/* .container{
    margin-top: 50px;
}
   */
.search-field {
    border-radius: 0 !important;
    border-color: transparent !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
}

.search-btn {
    border-radius: 0 !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    width: 4.8em;
    background-color: #1E90FF;
    color: white;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}